html {
  background: url("https://farm5.staticflickr.com/4110/5200218267_2215c03778_o.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  color: #483a3a;
}
header {
  background-color: #483a3a;
  margin: auto;
  width: 100%;
}
header .header-wrapper {
  width: 960px;
  height: 120px;
  margin: auto;
}
header .header-wrapper .header-upper {
  height: 75px;
}
header .header-wrapper .header-upper .logo {
  width: 150px;
  height: 100%;
  float: left;
  line-height: 75px;
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
  color: #8fb98b;
}
header .header-wrapper .header-upper .login-form {
  margin-top: 10px;
  float: left;
  margin-left: 375px;
  width: 300px;
  height: 70%;
}
header .header-wrapper .header-upper .login-form label {
  float: left;
  width: 27%;
  margin-top: 10px;
  color: #8fb98b;
}
header .header-wrapper .header-upper .login-form .textfield {
  float: left;
  width: 70%;
  margin-top: 10px;
}
header .header-wrapper .header-upper .login-button,
header .header-wrapper .header-upper .logout-button {
  background-color: #8fb98b;
  font-family: 'Bitter', serif;
  float: left;
  height: 25px;
  width: 75px;
  border-radius: 2px;
}
header .header-wrapper .header-upper .login-button {
  margin-top: 18px;
}
header .header-wrapper .header-upper .logout-button {
  margin-top: 8px;
}
header .header-wrapper .navigation-bar ul {
  margin-left: 200px;
}
header .header-wrapper .navigation-bar ul .nav1,
header .header-wrapper .navigation-bar ul .nav2,
header .header-wrapper .navigation-bar ul .nav3 {
  list-style: none;
  display: inline;
  color: #eae1c0;
  margin-right: 150px;
}
.main-wrapper {
  padding: 0;
  width: 960px;
  height: 900px;
  margin: auto;
}
.main-wrapper .top,
.main-wrapper .bottom {
  width: 100%;
  height: 450px;
  border: 1px solid black;
}
.main-wrapper .top .left,
.main-wrapper .bottom .left {
  padding-left: 15px;
  float: left;
  width: 50%;
  height: 100%;
}
.main-wrapper .top .right,
.main-wrapper .bottom .right {
  float: left;
  width: 45%;
  height: 100%;
}
.main-wrapper .top .right img,
.main-wrapper .bottom .right img {
  margin: 15px;
}
footer {
  background-color: #483a3a;
  margin: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
footer .footer-wrapper {
  width: 960px;
  margin: auto;
}
footer .footer-wrapper .footnav1,
footer .footer-wrapper .footnav2,
footer .footer-wrapper .footnav3,
footer .footer-wrapper .footnav4 {
  list-style: none;
  display: inline;
  color: #eae1c0;
  margin-left: 115px;
  padding: 0;
}
