body {
  background-image: url("../images/beer_taster1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
}
header {
  background-color: #1d1d1d;
  margin: auto;
  width: 100%;
}
header .header-wrapper {
  width: 960px;
  height: 90px;
  margin: auto;
}
header .header-wrapper .header-upper {
  margin: 0;
  padding: 0;
  width: 100%;
}
header .header-wrapper .header-upper .logo {
  width: 250px;
  float: left;
  font-family: 'Oxygen', sans-serif;
  color: #f7f2f2;
  text-align: center;
}
header .header-wrapper .header-upper .logo h1 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}
header .header-wrapper .header-upper .twitter-login {
  background-color: #f7f2f2;
  margin: auto;
  font-family: 'Bitter', serif;
  float: right;
  width: 200px;
  padding: 10px 25px;
  color: #d3d6d9;
  display: inline-block;
  cursor: pointer;
  border-left: 1px solid #456;
  font-size: 14px;
}
header .header-wrapper .header-upper .twitter-login .profile-image {
  vertical-align: middle;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
header .header-wrapper .header-upper .twitter-login .fa {
  font-size: 2em;
  color: #456;
  vertical-align: -5px;
  margin-left: 10px;
}
header .header-wrapper .header-lower {
  height: 25%;
}
header .header-wrapper .header-lower .slogan {
  /* background: blue; */
  margin-top: -50px;
  /* margin-left: 30px; */
  clear: both;
  width: 250px;
  height: 25%;
  text-align: center;
}
header .header-wrapper .header-lower .slogan h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  color: #d2b502;
}
.main-wrapper {
  opacity: .40;
  background-color: #fefee7;
  padding: 0;
  width: 960px;
  height: 900px;
  margin: auto;
}
footer {
  background-color: #1d1d1d;
  margin: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
footer .footer-wrapper {
  width: 960px;
  margin: auto;
}
footer .footer-wrapper .footnav1,
footer .footer-wrapper .footnav2,
footer .footer-wrapper .footnav3,
footer .footer-wrapper .footnav4 {
  list-style: none;
  display: inline;
  color: #eae1c0;
  margin-left: 115px;
  padding: 0;
}
