@headerFont:'Lobster Two', cursive;
@bodyFont:'Bitter', serif;

body {
  margin: 0;
  padding: 0;
  background-color: #F5EEDB;
  font-family: @bodyFont;
}

header{
  background-color: #483A3A;
  margin: auto;
  width: 100%;
  .header-wrapper{
    // background-color: #483A3A;
    width: 960px;
    height: 120px;
    margin: auto;
    .header-upper{
      // background-color: #EAE1C0;
      height: 75px;        
      .logo{
        width: 150px;
        height: 70%;
        float: left;
        line-height: 75px;
        font-family: @headerFont;
        font-size: 36px;
        color: #8FB98B; 
      }//logo
      .login-field{
        margin-top: 10px;
        float:left;
        margin-left: 400px;
        width: 300px;
        height: 70%;
        label{
          float: left;
          width: 27%;
          margin-top: 10px;
          color: #8FB98B;
        }
        .input-email{
          float: left;
          width: 70%;
          margin-top: 10px;
        }
        .input-password{
          float: left;
          width: 70%;
          margin-top: 15px;
        }
      }//login-field
      .sign-in, .sign-out{
        background-color: #8FB98B;
        font-family: @bodyFont;
        float: left;
        height: 25px;
        width: 75px;
        border-radius: 2px;
      }
      .sign-in {
        margin-top: 18px;
      }
      .sign-out {
        margin-top: 8px;
      }
    }//header-upper
    .navigation-bar{
      ul{
        margin-left: 150px;
        .nav1, .nav2, .nav3 {
          list-style: none;
          display: inline;
          color: #F5EEDB;
          margin-right: 150px;
        }
      }
    }//navigation-bar
  }//header-wrapper
}//header

.main-wrapper {
  // background-color: #fefee7;
  padding: 0;
  width:960px;
  height: 900px;
  margin: auto;
  // margin-top: -16px;
  .top, .bottom{
    width: 100%;
    height: 450px;
    border: 1px solid black;
    .left{
      padding-left: 15px;
      float: left;
      width: 50%;
      height: 100%;
    }
    .right{
      float: left;
      width: 45%;
      height: 100%;
      img{
        margin: 15px;
      }
    }
  }
}//main-wrapper

footer {
  background-color: #483A3A;
  margin: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  .footer-wrapper{
    width: 960px;
    margin: auto;
    .footnav1, .footnav2, .footnav3, .footnav4 {
      list-style: none;
      display: inline;
      color: #F5EEDB;
      margin-left: 90px;
      padding: 0;
    }
  }
}