@display-font:'Oxygen', sans-serif;
@text-font:'Bitter', serif;
@base-color: #F5EEDB;
@light-color: #EAE1C0;
@dark-color: #1D1D1D;
@highlight-color: #f7f2f2;
@action-color: #D2B502;
@fb-cl:#3B579D;
@twt-cl:#00ACED;

body {
  background-image: url("../images/beer_taster1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: @text-font;
}

header{
  background-color: @dark-color;
  margin: auto;
  width: 100%;
  .header-wrapper{
    width: 960px;
    height: 90px;
    margin: auto;
    .header-upper{  
      margin: 0;
      padding: 0;
      width: 100%;
      .logo {
        width: 250px;
        float: left;
        font-family: @display-font;
        color: @highlight-color; 
        text-align: center;
        h1{
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 0;
        }
      }//logo
      .twitter-login {
        background-color: @highlight-color;
        margin: auto;
        font-family: @text-font;
        float: right;
        // height: 25px;
        width: 200px;

        padding: 10px 25px;
        color: #d3d6d9;
        display: inline-block;
        cursor: pointer;
        border-left: 1px solid #456;
        font-size: 14px;

        .profile-image{
          vertical-align: middle;
          height: 30px;
          border-radius: 15px;
          margin-right: 10px;
        }

        .fa {
          font-size: 2em;
          color: #456;
          vertical-align: -5px;
          margin-left: 10px;
        }
      }
      // .logout-button{
      //   background-color: @highlight-color;
      //   margin: auto;
      //   margin-top: 30px;
      //   font-family: @text-font;
      //   float: right;
      //   height: 25px;
      //   width: 75px;
      //   border-radius: 2px;
      // }
    }//header-upper
    .header-lower{
      height: 25%;
      .slogan {
        /* background: blue; */
        margin-top: -50px;
        /* margin-left: 30px; */
        clear: both;
        width: 250px;
        height: 25%;
        text-align: center;
        h2 {
          font-family: @display-font;
          font-size: 12px;
          color: @action-color;
        }
      }
    }//header-lower
  }//header-wrapper
}//header

.main-wrapper {
  opacity: .40;
  background-color: #fefee7;
  padding: 0;
  width:960px;
  height: 900px;
  margin: auto;
  // margin-top: -16px;
  
}//main-wrapper



footer {
  background-color: @dark-color;
  margin: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  .footer-wrapper{
    width: 960px;
    margin: auto;
    .footnav1, .footnav2, .footnav3, .footnav4 {
      list-style: none;
      display: inline;
      color: @light-color;
      margin-left: 115px;
      padding: 0;
    }
  }
}