@display-font:'Oxygen', sans-serif;
@text-font:'Bitter', serif;
@base-color: #F5EEDB;
@light-color: #EAE1C0;
@dark-color: rgba(44, 14, 12, .85);
@highlight-color: #D7A628;
@action-color: #E9E2D6;
@fb-cl: #3B579D;
@twt-cl: #00ACED;

body {
  background-image: url("../images/beer_taster1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: @text-font;
  color: @dark-color;
}

h2 { 
  background:rgba(44, 14, 12, .85);
  line-height: 50px;
  padding-left: 20px;
  font-size: 25px;
  color: @action-color;
}

h3 { 
  background:rgba(44, 14, 12, .5);
  padding: 0 20px;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: @action-color;
}

p {
  padding: 0 20px; 
}

a {
  text-decoration: none;
  color: @dark-color;
}

ul li {
  list-style: none;
}

.bold {
  font-weight: bolder;
}

.search {
  float: left;
  width: 100%;
  height: 30px;
  margin-top: 8px;
  margin-left: 10px;
  .search-field {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    width: 25%;
    float: left;
    height: 30px;
    margin-left: 575px;
      input {
        color: #bcbcbc;
      }
  }
  .search-button {
    background-color: #54ACC7;
    position:relative;
    left: -10px;
    border: 1px solid #adc5cf;
    width: 10%;
    height: 34px;
    line-height: 25px;
    text-align: center;
    color: white;
    float: left;
    border-radius: 3px;
  }
}//search_bar

header{
  background: rgba(44, 14, 12, .8);
  margin: auto;
  width: 100%;
  .header-wrapper{
    width: 960px;
    height: 125px;
    margin: auto;
    .header-upper{  
      margin: 0;
      padding: 0;
      width: 100%;
      height: 70%;
      .logo {
        width: 250px;
        float: left;
        font-family: @display-font;
        color: @highlight-color; 
        text-align: center;
        img {
          height: 90px;
          margin-bottom: 0;
        }
      }//logo
      .login{
        float: right;
        height: 100%;
        .twitter-login, .facebook-login {
          // background-color: @highlight-color;
          margin: auto;
          font-family: @text-font;
          float: right;
          // height: 25px;
          width: 200px;
          padding: 8px 25px;
          color: @action-color;
          display: inline-block;
          cursor: pointer;
          border-left: 1px solid @action-color;
          font-size: 14px;

          .profile-image{
            vertical-align: middle;
            height: 30px;
            border-radius: 15px;
            margin-right: 10px;
          }

          .fa {
            font-size: 2em;
            color: @action-color;
            vertical-align: -5px;
            margin-left: 10px;
          }
        }
      }
    }//header-upper
    .header-nav {
      // background: #456;
      clear: both;
      height: 30px;
      width: 100%;
      ul {
        margin: 0;
        padding: 0;
        // background: #678;
        display: inline-block;
      }
      .primary-nav li {
      // color: #abc;
      color: @highlight-color;
      list-style: none;
      display: inline-block;
      // background: #678;
      padding: 6px 53px;
      position: relative;
        a {
        text-decoration: none;
        color: @highlight-color;
          }
      }
      .secondary-nav {
      position: absolute;
      font-size: 12px;
      top: 100%;
      bottom: 0;
      margin: 0;
      padding: 0;
      display: none;
        li{
          list-style: none;
          background: @dark-color;
          min-width: 75px;
          a {
            text-decoration: none;
            color: @highlight-color;
            margin-left: -25px;
          }
        }
      }
    }
  }//header-wrapper
}//header



section {
  background-color: rgba(254, 254, 231, .6);
  padding: 0;
  width:960px;
  // height: 1000px;
  margin: auto;
  overflow: auto;
  .index{
    padding: 20px;
    p {
      font-size: 16px;
    }
    .images {
      margin: 40px;
      height: 525px;
      .image{
          width: 30%;
          height: 230px;
          padding-right: 20px;
          float: left;
        a{
          text-decoration: none;
          text-align: center;
          color: @dark-color;
          font-size: 20px;
        }
        img {
          width: 100%;
          height: 85%;
          border-radius: 2px 2px 0 0;
        }
        h3 {
          margin-top: -5px;
          border-radius: 0 0 2px 2px;

        }
      }
    }
  } //index
  .list_views{

    .beer_list, .brewery_list{
      width: 85%;
      float: left;
      margin: 10px;
      thead {
        background: @highlight-color;
        padding-right: 10px;
        text-align: center;
        th {
          min-width: 265px;
        }
        tr { 
          height: 30px;
        }
      }
      tbody {
        width: 28%;
        td { 
          min-width: 265px;
          height: 100px;
          overflow: hidden;
          a{
          text-decoration: none;
          color: @dark-color;
          }
          a:hover { 
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .alphabet{
      float: left;
      width: 10%;
      margin: 10px;
      ul {
        list-style: none;
        a{
          text-decoration: none;
          color: @dark-color;
        }
        a:hover { 
          font-weight: bold;
          font-size: 18px;
        }
      }
    }//alphabet
  } //list_views
  .beer, .brewery{
    float: left;
    width: 100%;
    height: auto;
    .beer_details{
      width: 100%;
    }
    .brewery_details{
      width: 50%;
    }
    .beer_details, .brewery_details, .beer_style {
      float: left;
      ul li {
        list-style: none;
        margin-bottom: 20px;
      }
    }
    .beer_image, .brewery_image{
      float: left;
      width: auto;
      height: 125px;
    }
    .description {
      clear:both;
      padding: 20px;
    }
    .favButton {
      margin-left: 40px;
      .btn{
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        -webkit-user-select: none;
      }
      .btn-lg{
        padding: 10px;
        font-size: 13px;
        line-height: 2;
        border-radius: 6px;
        text-decoration: none;
      }
      .btn-success{
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        color: #fff;
        background-color: @highlight-color;
        border-color: @highlight-color;
      }   
    }
  }
  .users{
    .user_left, .user_right{
      float: left;
      width: 50%;
      h2{
        font-size: 16px;
      }
      .beer_name, .brewery_name{
        h2{
          font-size: 14px;
        }
        .beer_image, .brewery_image{
          float: left;
        }
        .user_beer, .user_brewery{
          float: left;
        }
      }
    }
  }
}//section



footer {
  background-color: @dark-color;
  margin: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  clear: both;
  .footer-wrapper{
    width: 960px;
    margin: auto;
    .footnav1, .footnav2, .footnav3, .footnav4 {
      list-style: none;
      display: inline;
      color: @light-color;
      margin-left: 115px;
      padding: 0;
    }
  }
}